<form action="[/$controller/edit/person/$item:@id]" method="post" accept-charset="utf-8">
  <fieldset>
    <legend>Form</legend>
    <h2>[$message]</h2>
    <input type="text" name="@id" value="[$item:@id]" readonly="true"/>
    <input type="text" name="@title" value="[$item:@title]" placeholder="enter full name"/>
    <input type="email" name="@access" value="[$item:@access]" placeholder="enter email address"  autocomplete="email"/>
    <input type="text" name="@created" value="[$item:@created]" readonly="true" />
    <input type="text" value="[$item:@updated]" readonly="true" />
    <button type="submit">Save</button>
  </fieldset>
  <fieldset>
    <legend>Log</legend>
  </fieldset>
</form>