<form action="[/$controller/edit/project/$item:@id]" method="post" accept-charset="utf-8">
  <fieldset>
    <legend>Project Form</legend>
    <h2>[$message]</h2>
    <input type="text" name="@id" value="[$item:@id]" readonly="true"/>
    <input type="text" name="@title" value="[$item:@title]" placeholder="enter project title"/>
    <select name="@status">
      <option>pending</option>
      <option>underway</option>
      <option>complete</option>
    </select>
    
    <label for="duration">note, this is in hours. 8 hours = 1 day.</label>
    <input type="range" name="@duration" value="[$item:@duration]" min="1" max="250" id="duration"/>
    <input type="text" name="@created" value="[$item:@created]" readonly="true" />
    <input type="text" value="[$item:@updated]" readonly="true" />
    <input type="text" name="@exec" value="brendan" />
    <button type="submit">Save</button>
  </fieldset>
  <fieldset>
    <legend>Agenda</legend>
  </fieldset>
  <fieldset>
    <legend>Log</legend>
  </fieldset>
</form>