*[data-template]:hover:before {
  font-family: var(--monospace);
  font-size: 0.75em;
  position: absolute;
  padding:0.5em;
  background-color: rgba(255,255,255,0.85);
  content: attr(data-template);
  opacity: 1;
}