<section>
<script type="text/javascript" charset="utf-8">
  // <![CDATA[
  bootstrap.embed('/js/mootools-core.js','/js/mootools-more.js', '/js/bloc.js', '/js/game-of-life2.js');
  // ]]>
	</script>
	<style type="text/css" media="screen">
	body {
		background-color:#eee;
	}

	h1 {
		font:14em/.7em 'Inconsolata';
		color: rgba(0,0,0,.75);
		text-transform:uppercase;

	}
	rect {
		stroke-width:1;
		transition: fill .75s;
		-webkit-transition: fill .75s; /* Safari */

		shape-rendering:crispEdges;
	}
	</style>
	
		<h1>[Brendan Metzger Website @year]</h1>
		<p style="position: relative; top: -7em;left: 30em;margin: 1em;width:30em;">This sassy background is a riff on the <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life">game of life</a>, and I think it nutshells pretty much everything I know about making websites as of 2013. Crack under the hood if you dare, or ask me some questions someday.</p>

	<noscript class="GoL" title="Game of Life" id="game-of-life">
		This is based on Jon Conway's game of life
	</noscript>
</section>