<article>
  <h1>Scumbag prevention schemes</h1>
  <h2>Twitter</h2>
  <p>Pay to get validated, have a credit on file, break the terms of service and pay a fine. Treating people like shit is not tolerated in real life, and if we are going to pretend a conversation matters on twitter, then make adhere to the rules of civil society: if you piss a group of people off, there are consequences.</p>
  <p>All accounts are unverified until a user puts a $1.00 deposit on a credit card on file. From there, an account is verified. When obvious abuses occur, fine the user and bill the credit card a preordained amount in the TOS. </p>
  
    <p>What if I don't have a credit card? In any of these conditions, who gives a shit... just tweet your hearts content from an 'unverified' account and take pleasure that the users would quickly figure ou that it's because you are using twitter for fun (kids). Anyone tweeting news and opinion from an unverified account is probably worth completely ignoring.</p>
  
    <p>Twitter would probably make a fortune—and it could donate it if it wanted to be a good actor for once—simply by pushing horrible people for all the abuse they inflict using the platform.</p>
  
  <h2>Traffic</h2>
  <p>Rush hour tolls entering and leaving the city. We happen to live at a very crowded intersection, and I have the sanctity of my home invaded by angry people Monday through Friday.</p>
  
  
 <h2>Bus</h2>
 <p>Chicago avenue can have a bus only lane during commute times. It is absolutely insane that I can walk faster than something with a massive engine and wheels. I'm also so bitter that a bus gets honked at when it tries to move around a car loitering in the bus lane by some jerk solo in their car. Install a camera that issues tickets from 8 - 10 and 4-6 in bus lanes, and make some money. It should be worse driving a car than using public transportation in a modern city, and its shameful that a bus with 80 people will defer to an Audi suv hauling all of one dickbag.</p>
  
</article>