<article style="margin: 5em">

    <header>
      <h4 class="colorize">&#x2767; No. 002</h4>
      <h1>new ways to cross an ocean.</h1>
    </header>
    <section>
			<ol>
        <li>land bridge</li>
        <li>backstroke</li>
        <li>balloons + deck chair</li>
        <li>super buoyant water clogs</li>
        <li>set time machine to era with pangea</li>
        <li>locate uncle with a pontoon</li>
        <li>freeze, followed by snowmobile</li>
        <li>whale saddle</li>
			</ol>
    </section>

</article>