<article style="margin: 5em">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    .censor {
      background:linear-gradient(#333, #333) no-repeat 0 55%;
      background-size: 100% 0.5em;
    }
    /* ]]> */
  </style>
    <header>
      <h4 class="colorize">&#x2767; No. 002</h4>
      <h2 class="h1 massive caps">list</h2>
      <h1 class="h2 indented">Top n ways to avoid burnout (circa 2010).</h1>
    </header>
    <hr />
    <section class="_______">
			<ol>
				<li>Buy the stiffest, deepest blue jeans on the market</li>
				<li>Leave</li>
				<li>Talk louder</li>
				<li>Give more advice</li>
				<li>repeatedly posit dicknose musings on twitter</li>
				<li>start going to start-up meet-ups</li>
        <li>become skull-<span class="censor">fucker</span> CEO</li>
        <li>embrace death</li>
			</ol>
    </section>

</article>
