<ul>
  <li>I was in Whole Foods, and I immediately grabbed a table a pregnant was eyeballing from a distance. and I felt no shame. I call it <q><The whole foods effect/q>, whereby you feel entitled to behave like an asshole because you are treating yourself. The world is a whole foods to rich people.</li>
  <li>"I love you", said the hobo hugging me by the riverbank in Kentucky today. "You're a very handsome man"</li>
  <li>I was reminded today about a yoga class I took several years ago where we did partner yoga and I had a very weird boy-man lay on top of me stretching. I hated him, and that didn't have anything to do with the pretext. This made it extra bad.</li>
  <li>You don't see a lot of genuine yawning in cinema.</li>
  <li>People have eaten too much fish before.</li>
  <li>Some people enjoy playing and listening to music so much they must contort their face in pain.</li>
  <li>Old people are not welcome at airports. It seems</li>
  <li>Take comfort that if you die from vehicular manslaughter in Bucktown, it will most likely be done with a European luxury car.</li>
  <li>In 1982, most people probably carried a lighter</li>
  <li>as a society, we’re no longer to use the word fondle to describe anything that could be considered appropriate.</li>
  <li>Isn't being politically correct the same thing as being respectful? It's kind of weird how some Christians lose their cool about that—especially around the holiest times of year.</li>
  <li>There is evidence that the Neanderthal buried their departed on a bed of wild flowers. Think about that as you start the car and get ready to road rage on someone.</li>
</ul>