:root {
  --x: 1.75em;
  --y: 1.75em;
  --z: 5%;
}

*, *:before, *:after { box-sizing: border-box}

q:before, q:after {letter-spacing:0.5ch;}
q:before { content: '“' }
q:after  { content: '”' }
body, h1, h2, h3, h4, h5, ul, ol, li, div, main, article, section, figure { margin: 0; padding: 0; font-weight: 400; line-height:1;}
body{background-color:rgba(255,255,127,0.025);font-size:0.625em;padding:0;font-family:'Avenir Next',Helvetica, Arial;color:#333;}
h1 {font-size:calc(var(--y) * 5);line-height:1.05;letter-spacing:-0.1ch;font-family: 'Avenir Next Condensed';}
h2 {font-size:calc(var(--y) * 1.125); text-transform: uppercase;}
hr {border:0;border-top:1px solid #888; margin: var(--y) 0;}
img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}

ul:not([class]) {list-style: none;}
.bullet { padding: 0 0 0 2em; }
ul.bullet {list-style-type: square;}
ol.bullet {list-style-type: lower-roman;}
h2, p, ul, ol {
  margin: calc(var(--y) / 2) 0;
}
li li {font-size:100%;}
p, li  { font-size: var(--y);line-height: 1.325}
a {padding: 0 0.125em; color:#fa5c64;text-decoration:none;background:linear-gradient(transparent, #fa5c64) no-repeat 50% 1em;background-size: 100% 2px;}


article > p:first-of-type {
  font-size:2.625em;
}


.design-grid {
    background-size: var(--x) var(--y);
    background-position:0 0;
    background-image: linear-gradient(270deg, rgba(0,0,0,0) calc(100% - var(--z)), rgba(100,200,200,0.075) var(--z)),
                      linear-gradient(180deg, rgba(0,0,0,0) calc(100% - var(--z)), rgba(200,100,200,0.075) var(--z));
}

.design-grid .design-grid {
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: exclusion;
    box-shadow: 0 0 0.125em 1px rgba(255, 0, 0, 0.35);
}

@media (min-width: 60em) {
  p {max-width: 50ch;}
}