<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>[$title]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
      // <![CDATA[
      ready = (function(app, s, c, js) {
        s.type = 'text/javascript';
        app.cache   = Object.create(null);
        app.require = function(u, p = false) {          
          let ctx = s.cloneNode();
              ctx.src = u; ctx.async = p;
              ctx.onload = app.load.bind(ctx, js.push(ctx));
          
        };
        app.load = function(i, e) {
          console.log(i, e, this.async);
          // if (e && p1.length === i || i === true) while (c.length > 0) c.shift().call();
        };
        
        app.remove =  k     => delete app.cache[k];
        app.module =  k     => (k in app.cache) ? app.cache[k] : app.define.bind(app, k);
        app.define = (k, f) => (k in app.cache) ? app.cache[k] : app.cache[k] = f;
        app.init   = (f, w) => c[w||'push'](f);
        app.mobile = (/mobile|iPhone/i).test(navigator.userAgent);
        return () => js.map(Node.prototype.appendChild.bind(document.head));
      })(this.app = {}, document.createElement('script'), [], [], []);
      
      // load all scripts into the same array. On init, filter the non/async scripts and add load callback.
      // 
      // (this.app = , document.createElement('script'), []);

      document.documentElement.classList.add(['touch','click'][+app.mobile]);
      app.require('/js/app.js');
      // ]]>
    </script>
  </head>
  <body>
    <!--   insert component/header.html   -->
    <!-- replace content -->
    <main>
      <!-- iterate items -->
      <!-- insert content/about.html -->
    </main>
    <!-- insert component/footer.html -->
    <script type="text/javascript">ready();</script>
  </body>
</html>