<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>[$title]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
      // <![CDATA[
      addEventListener('DOMContentLoaded', (function(s, c, js) {
        self.app = {
          cache: Object.create(null),
          include: (...a) => js.push(['src','async'].reduce((s,v,i) => {s[v]=a[i]; return s}, s.cloneNode())),
          module : (k   ) => (k in app.cache) ? app.cache[k] : app.define.bind(app, k),
          define : (k, f) => (k in app.cache) ? app.cache[k] : app.cache[k] = f,
          release: (e   ) => { while (c.length > 0) c.shift().call() },
          mobile : (/mobile|iPhone/i).test(navigator.userAgent),
          remove : (k   ) => delete app.cache[k],
          prepare: (f, w) => c[w||'push'](f)
        };
        // TODO: still need to fire init
        // ctx.addEventListener('load', app.release.bind(ctx, js.push(ctx)));
        // var special = js.filter(s => !s.async).forEach((s, i, a) => s.onload = app.release.bind(s, i == a.length-1));
        return () => {
          js.map(Node.prototype.appendChild.bind(document.head));
        };
      })(document.createElement('script'), [], []));
      
      document.documentElement.classList.add(['touch','click'][+app.mobile]);
      app.include('/js/app.js', false);
      app.include('/js/locus.js', true);
      // ]]>
    </script>
  </head>
  <body>
    <!--   insert component/header.html   -->
    <!-- replace content -->
    <main>
      <!-- iterate items -->
      <!-- insert content/about.html -->
    </main>
    <!-- insert component/footer.html -->
  </body>
</html>