<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>[$title]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
      // <![CDATA[
      addEventListener('DOMContentLoaded', (function(app, s, c, js) {
        s.type = 'text/javascript';
        app.cache   = Object.create(null);
        app.include = (...a) => js.push(['src','async'].reduce((s,v,i) => {s[v]=a[i]; return s}, s.cloneNode()));
        app.load    =  e     => { while (c.length > 0) c.shift().call() };
        app.remove  =  k     => delete app.cache[k];
        app.module  =  k     => (k in app.cache) ? app.cache[k] : app.define.bind(app, k);
        app.define  = (k, f) => (k in app.cache) ? app.cache[k] : app.cache[k] = f;
        app.init    = (f, w) => c[w||'push'](f);
        app.mobile  = (/mobile|iPhone/i).test(navigator.userAgent);
        
        return () => {
          // ctx.addEventListener('load', app.load.bind(ctx, js.push(ctx)));
          // var special = js.filter(s => !s.async).forEach((s, i, a) => s.onload = app.load.bind(s, i == a.length-1));
          js.map(Node.prototype.appendChild.bind(document.head));
        };
      })(this.app = {}, document.createElement('script'), [], []));
      
      document.documentElement.classList.add(['touch','click'][+app.mobile]);
      app.include('/js/app.js', false);
      app.include('/js/locus.js', true);
      // ]]>
    </script>
  </head>
  <body>
    <!--   insert component/header.html   -->
    <!-- replace content -->
    <main>
      <!-- iterate items -->
      <!-- insert content/about.html -->
    </main>
    <!-- insert component/footer.html -->
  </body>
</html>