<section>
  <header>
    <h4 class="colorize">&#x2767; No. 003</h4>
    <h2 class="h1 massive caps">art/design</h2>
    <h1 class="h2 indented">More irreverent thoughts.</h1>
  </header>
  <hr />
  <div class="_______ three indented columns">
		<p>Start up evangelists say things like "college is useless". Ironically, seven-eighths of startups are ponzi schemes with the rest quite impressive. The problem is not the mission of higher education, it is a lack of pedagogical fortitude. In lieu of that, we fart out cheesy learning materials and treat college like year round summer camp for adults. The problem is we think we should use the success of top notch aesthetes and somehow improve the experience through glossier paints and shiner metals. This is not only wrong, but it bunches my undies.</p>
		
		<p>For example, our preoccupation with the design of teaching materials has produced some of wackiest froth out there. It must be the case that education is so profit oriented that we ensure those tasked with teaching others are less and less interested in the depth of the curriculum than in the showmanship of it. Even though you have a $4000 AV system those banal powerpoint slides slapped together by Pearson and that cool new iPad app about blah add <em>nothing</em> to the lesson.</p>

		<p>Allow me to say, it is arbitrarily bad, and I feel confident that I am right about this. Almost any text book used in post secondary education is littered with clip art, drop shadows, schizophrenic font choices, and a wanton, technicolor palette. The problem, twofold, isn't just that it happens, its that it is considered "good" by the people charged with teaching the course, which, I argue, implies a naive view of teaching.</p>

		<p>I don't know who to blame, but I'll start with over-designed material. Can we assume from the designer's perspective, the subject is inconsequential to their decoration.</p>
		
		<blockquote>
			<p>Superfluous sidebars do not need to stand out and distract the reader on every page of a textbook.</p>
		</blockquote>
		
		<p>It grabs your attention, but alas, it's just noise. It's running the blender while listening to music.</p>

		<p>The thing is, this isn't stupid work, or even unsuccessful. In fact, it's the fundamental premise of advertising, and it is has a purpose to amuse and confuse us. This is an art and I don't consider it insensitive to call it such. But it is art, <em>not design</em>. Design is a beautiful, though ultimitely technical medium, and you can't remove <em>intended function</em> from any decision made. Books are designed so that you enjoy and comprehend another's knowledge and perspectives, so the first thing a good book designer does give deference to the material. Unless you think literary works would be better suited with 3 typefaces and kooky clipart of confused cavemen.</p>

		<p>Wholly different from a designed product, advertising art has an agenda that does not put buyer and seller on the same team. A clever sleight of hand intended to stimulate emotions. For instance, if <em>design</em> is the term of art, then a pharma ad showing two happy seniors giving eskimo kisses while a throaty announcer minds that one may tragically unhinge their bowels is a terribly designed. That juxtaposition leaves me slightly confused on what is in my best interests, and I'm not sure I understand things as much as I need to. Emotionally enchanting, for sure, but slightly dishonest.</p>
		
		<p>Art can be propaganda, as history teaches us regularly. The best <strike>startups</strike> businesspeople harness this art form. College is not useless any more than prevailing business practices have made it so. College is not useless any more than prevailing business practices have made it so.</p>
  </div>
</section>