<article>
  <section>
    <header>
      <h4 class="colorize">&#x2767; No. 002</h4>
      <h2 class="h1 massive caps">list</h2>
      <h1 class="h2 indented">Top n ways to avoid burnout.</h1>
    </header>
    <hr />
    <div class="_______">
			<ol>
				<li>Buy the stiffest, deepest blue jeans on the market</li>
				<li>Seek belly shirt</li>
				<li>Leave</li>
				<li>Round up a mess of beans</li>
				<li>Talk louder</li>
				<li>Give more advice.</li>
				<li>3 skull-fucker twitter handles: posit dicknose thoughts</li>
				<li>Take cruise/salami bender «double entendre»</li>
				<li>Blog business: focus on start-up meet-ups.</li>
			</ol>
    </div>
  </section>
</article>
