<section>
  <h2 style="color:#c9cbc1">Profile</h2>
  <p style="font-size:1.8em;line-height:1.5em;margin-left:1em;text-indent:-1em">
    I am an experienced creative professional in the field of interactive communication design. With a thorough understanding of technology and software, I aim to turn abstract ideas into new and usable systems. As a designer and developer, I have the advantage of creating, testing, and understanding the structure of the experiences I design. I am ambitious to understand the nature of reactive, context-sensitive design, and I am humbly aware of the unending research required in this field. As technology continues to push our designs forward at an incredible pace, I believe that elegant programs, while ostensibly simple, require a fundamental understanding of very complex operations.
  </p>

  <h2 style="color:#c9cbc1">Experience</h2>
  <h3>Web Development Coordinator, Columbia College Chicago, Chicago, IL 2009—Present</h3>
  <p>Oversee, produce, and design all aspects of web development under the office of Student Communications. Meet regularly with colleagues across the college to help with initiatives specifically relevant to students and student needs. The software created is responsible for thousands of active users, and initiatives have developed a catalog with tens of thousands of pieces of student work and growing. Through a very pragmatic approach to design and performance, the stage has been set to enhance all systems to make information more relevant and accessible moving forward. Work samples are available upon request</p>
  <h3>Web Developer, Harpo Productions Inc. Chicago, IL 2007—2009</h3>
  <p>As a front-end programmer I was in charge of developing and maintaining all interactive interface components for Oprah.com. Worked regularly with application development, operations, design, quality assurance, marketing, and content teams to create a multitude of interactive projects on very aggressive delivery timelines. Event tracking and benchmark initiatives were crucial to a site that handled several million user a day.</p>
  <h3>Web Developer, Lakonic Partners, Chicago, IL 2007</h3>
  <p>Full-time web developer for a interactive advertising production studio responsible for planning and execution of a variety of projects. Clients included Effen Vodka, Empire Carpet, Alter Imaging, and Radar Studios. Regularly met and worked under difficult deadlines.</p>
  <h3>Web Developer, Columbia College Chicago, Chicago, IL 2006—2007</h3>
  <p>As an employee of the Portfolio Center I was responsible for creating and designing the progenitor of the application currently known as “Web Agent”, an automated website publishing system. A very forward-thinking and significant project at it’s inception.</p>



  <h2>Education</h2>
  <ul>
    <li>Columbia College Chicago, Chicago IL – BA Interactive Art &amp; Media 2007</li>
    <li>Bradley University, Peoria, IL – Enrolled seeking BS in Computer Science 2002</li>
  </ul>

  <h2>Skills</h2>
  <p><strong>Technology</strong>: Competency in writing software, managing servers, databases, and designing interfaces. Testing and programing in many environments and service-oriented architectures. Understand pricing models, comparative analysis of products, systems, and well versed in the technical nomenclature required to make knowledgable decisions.</p>
  <p><strong>Theory and Research</strong>: Object oriented design principles, application design patterns, data exchange formats and data processing algorithms. Visual literacy and interaction design principles and best practices. Avid researcher in the fields of computation, automata, and collective intelligence.</p>
  <p><strong>Language and Syntax</strong> Understand variety of computer languages and access methods, not limited to, but including PHP, Javascript, CSS, bash, XML, SQL. Proficient communicator, both orally and written. Understand typographic conventions and use, the electronic transmission and encoding of typographic systems including the study and understanding of foreign languages and writing systems. Proficient in mathematics, symbolic logic, and diagramming conventions. Knowledgeable in creating accessible content for users with disabilities and impairments. Effective strategist for creating semantic, machine-readable material in order to assist in search engine optimization and content modeling.</p>
  
  <p><em>References are available upon request</em></p>
</section>