<section>
  <header>
    <h4 class="colorize">&#x2767; No. 001</h4>
    <h2 class="h1 massive caps">this</h2>
    <h1 class="h2 indented">…is the personal site of Brendan A. Metzger …mostly balderdash.</h1>
  </header>
  <p class="note"><strong>Why did I write this?</strong></p>
  <hr />
  <div class="_______ three indented columns">
    <p>At some point I realized that rote skills in something extremely arduous and knowing a lot about something extremely "simple" have about equal learning curves. I have tried to understand simple things, like π and circles, and the eye popping reality is that the quest for understanding is all there is... the destination is not knowable. This warms my cockles, really, but like many, I spend time on stuff that bores me. I have to pay the mortgage. I have to accept that linkedIn connection from that person that (seemingly) important person. Days filled with rules and expectations we'd rather avoid but we can't because we <em>designed</em> it that way. Given a strange consensensus that life should be <strong>constantly</strong> improving, one starts getting nostalgic for a simpler time as they flip through the pages of their designer magazines.</p>
		
		<p>The consequence of working with technology daily and considering the how and why of our efforts, all of a sudden you ponder how trite modern full-court-press style business innovation really is. We go great lengths to dress up a tired idea like it is changing the world when it is really just a comforting distraction (sorry Twitter). </p>
    
    <p>Anyway, the reason I ramble is because you are probably here to see what I do in the website biz, and I guess I'm trying to defend myself, because the more I do it, the less time I spend thinking about websites, and this seems wrong. I would feel like I'm defending myself by saying, <em>I totally get javascript, and I totally get whatever else is happening right now too</em>. From experience, that is almost always an exaggeration, no matter the industry or person.</p>
		
		<p>So I'll say this; some consider my aesthetic a bit undercooked, which sometimes astounds me as a detail freak, but it's simply not as important as we think it is. Let me suggest this, assuming you have something really important, really funny, really tragic, really <em>profound</em> to say... the more time you spend on the drop shadow, the more time you're spending on being a boner.</p>

    <p>Lastly, I don't want to critize the aesthetes among us, other than marking my line in the sand stating it's never a bad idea to bite off more than you can chew. Sure, cracking open the hood and fixing the engine is a crazy idea if you're looking for a new paintjob and plenty of hoots. But to me, big, delicious bites are better than manageable hunks of mystery gristle. Remember the last time you settled down and pondered—nay, accepted—something really difficult? Remember the last time you understood why? Hopefully you have that memory rattling around somewhere.</p>
  </div>
</section>

