<article>
  <ul>
    <li>Fart, flirt, faint™®</li>
    <li>Trailerburg©</li>
    <li>Fish Flaps™®</li>
    <li>Fork ______</li>
    <li>Septic Burger™</li>
    <li>Clinique is better than cole slaw</li>
    <li>Ima make it rain bitch, Ima make it rain {x10}</li>
    <li>Apps: When in doubt, swipe about.</li>
    <li>Ronald Jalepeño</li>
    <li>Angel Nards</li>
    <li>Matinee: Say it. Do it. Tell it.</li>
    <li>Swarf</li>
    <li>Try these jigglers</li>
    <li>Party burro</li>
    <li>Support our ribbon makers</li>
    <li>Liquid flatus (flatustician)</li>
    <li>alligator asshole motherfucker.</li>
    <li>night farts</li>
    <li>idiot abroad</li>
  </ul>
</article>