<html>
  <head>
    <title>[$title]</title>
    <style type="text/css" media="screen">
      /* <![CDATA[ */
      :root {
        font-family: 'Helvetica Neue';
        color: #333;
        font-size: 62.5%;
      }
      body {
        padding: 2.5em;
        background: radial-gradient(
          #9A9AA4ff 0%,
          #FAD19BAA 40%,
          #262B3133 100%
        ) repeat-y fixed;
        background-size: 200vw 200vh;
      }
      /* ]]> */
    </style>
    <script type="text/javascript">
      // <![CDATA[
      
      // ]]>
    </script>
  </head>
  <body>
    <!--   insert header.html   -->
    
    <!-- replace content -->
    <main>
      <!-- iterate items -->
      <!-- insert about.html -->
    </main>
    
    <!-- insert footer.html -->
  
  </body>
</html>