<html>
  <head>
    <title>[$title]</title>
    <style type="text/css" media="screen">
      /* <![CDATA[ */
      :root {
        font-family: 'Helvetica Neue';
        color: #fff;
      }
      body {
        background-color: #333;
      }
      /* ]]> */
    </style>
    <script type="text/javascript">
      // <![CDATA[
      
      // ]]>
    </script>
  </head>
  <body>
    <!--   insert header.html   -->
    <main>
      <!-- iterate items -->
      <!-- insert about.html -->
    </main>
    <!-- replace footer -->
    <footer>
      <p>This is a temporary footer</p>
    </footer>
  </body>
</html>