<form action="/overview/save/" method="POST" accept-charset="utf-8">
  <input type="hidden" name="@id" value="[$@id]"  />
  <input type="hidden" name="@created" value="[$@created]"  />
  <input type="hidden" name="@updated" value="[$@updated]"  />
  
  <label for="name">Name</label>
  <input type="text" name="@title" value="[$@title]" id="name" />
  
  <label for="name">Email</label>
  <input type="email" name="@access" value="[$@access]" id="name" readonly="readonly"/>

  <button>save</button>
</form>